{% extends "template.html" %}
{% block title %}About - {% endblock %}
{% block content %}
    <div class="about___ container">
        <div class="card" style="padding:15px 30px">
            <!-- <h1 style="text-align:center">About US</h1> -->
            <!-- <div class="gallary">
                <div class="i"></div>
                <div class="i"></div>
                <div class="i"></div>
                <div class="i"></div>
                <div class="i"></div>
                <div class="i"></div>
                <div class="i"></div>
            </div>
            <p>Thank you for showing your interest to know about our team members and goals and motto of our company. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto consequatur quibusdam ea impedit, dolores est? Modi aperiam nesciunt molestiae perspiciatis eveniet quia consequatur, sequi, provident, veritatis iure nobis rerum? Necessitatibus!</p> -->
            <p>
                <b>Thank you</b> Thank you for showing your interest to know the goals & motto of our company. 
            </p>
            <p>We are a bunch of enthusiastic individuals who are really passionate about Fashion.</p>
            <p>We are fashion lovers and we want our customer to be aware of their fashion trend and hence we came into existence. To solve the problem of college students, and help you choose the best for yourself, we put in our best entrepreneurial skills and treat you with the extravaganza of online shopping. </p>
            <br>
            <p>
                <b>The Big Diffrence: </b>
                You don't have to wait 5 - 6 days to get your own product.We try our best to deliver within 3 days. <br>
                Although we are just starting our business, we have the courage and zeal to reach you and provide our best services. We promise to prove our gratefulness by listening and providing services tailored to meet individual requirements.
            </p>
            <p>
                When you become a customer at <a href="/">RedGingger</a>you truly make a difference in our lives, which encourages us to reciprocate the gratitude we feel towards each and every customer by always providing the biggest selection at the best possible price.
            </p>
            <br>
            <b>
                ITER Students: Product delivery is available within ITER campus for ITER Students. <br>
                Other Students: Store pickup is available for other students.Please make sure that you collect your product from the ITER college gate.
            </b>
            </p>
            <br>
            Follow Us:
            <p style="font-size:2rem;">
                <a href="https://www.facebook.com/redgingger2018/"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/redgingger2018/"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/redgingger2018/"><i class="fa fa-instagram"></i></a>
            </p>
            <br>
            <p>OUR TEAM:</p>
            <ul>
            <li><a href="https://www.facebook.com/navneet.kaushik8" target="_blank">Navneet Kumar</a></li>
            <li><a href="https://www.facebook.com/kumarniranjannitesh" target="_blank">Nitesh Kumar Niranjan</a></li>
            <li><a href="https://www.facebook.com/onkeshkumar.onkar" target="_blank">Onkesh Kumar Onkar</a></li>
            <li><a href="https://www.facebook.com/sujeet.suman.5015" target="_blank">Sujeet Suman</a></li>
            <li><a href="https://www.facebook.com/tanujit.roy.14">Tanujit Roy</a></li>
            <li><a href="https://www.facebook.com/Castboundevil">Vishal Sharma</a></li>
            </ul>
            <p style="">This website has been developed by <a href="https://www.facebook.com/decoderhub/">Decoder Hub</a>. Want to build one for you? then contact us.</p>
        </div>
    </div>

{% endblock %}