{% extends "template.html" %}
{% block title %}Return Policy - {% endblock %}
{% block content %}
    <div class="about___ container">
        <div class="card" style="padding:15px 30px">
            <!-- <h1 style="text-align:center">About US</h1> -->
            <!-- <div class="gallary">
                <div class="i"></div>
                <div class="i"></div>
                <div class="i"></div>
                <div class="i"></div>
                <div class="i"></div>
                <div class="i"></div>
                <div class="i"></div>
            </div>
            <p>Thank you for showing your interest to know about our team members and goals and motto of our company. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto consequatur quibusdam ea impedit, dolores est? Modi aperiam nesciunt molestiae perspiciatis eveniet quia consequatur, sequi, provident, veritatis iure nobis rerum? Necessitatibus!</p> -->
            <h2>First Try then Pay</h2>
            <p>
                First try the product, then if its okay to you then pay for the product. Take a look at the product and try it at the time of delivery and then pay for it.
            </p>
            <p>
                If at that time you think that it doesn't suits you then return the product at that time & you will not have to pay any extra return fee. But after you bought the product and paid for it then you will not be able to claim for return of the product.
            </p>
            <p>
                If anyone doesn't try at the time of delivery and take there product and paid for it without trying then you have to raise a claim within 2 days(48hrs) after delivery of the product and you have to pay Rs.15 for the return. 
            </p>
            <p><b>and ofcource delivery is free :)</b></p>
            <br>
            <p>
                Only <i> defected product </i> is applicable for <b>replacement</b>. Raise issue within 48 hrs after the delivery to replace the product in case of only manufacturing defect. Rs 15 will be charged for successful replacement. 
                Mail <a href="mailto:support@redgingger.com">support@redgingger.com</a> to raise your issue.
            </p>
            <p style="text-align:right"> - RedGingger Team</p>
        </div>
    </div>

{% endblock %}