{% extends "dashboard/html/layout.html" %} 
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Edit Order</h4>
                </div>
                <div class="card-content">
                    <p>Order ID : {{product.id}}</p>
                    <p>Customer Name : {{ product.buyer_name }}</p>
                    <p>Product Name : {{ product.product_name }}</p>
                    <p>Product Quantity : {{ product.product_quantity }}</p>
                    <p>Customer Address : {{ product.buyer_address }}</p>
                    <p>Customer Mobile : {{ product.mobile_no }}</p>
                    <p>Payment Option : {{ product.payment_option }}</p>
                    <p>Order Date : {{ product.buy_time }}</p>
                    <p><a class="btn btn-danger" href="{{url_for('dashboard_delivered', order_id=product.id, deliv=1)}}">Make Delivered</a></p>
                    <p><a class="btn btn-secondary" href="{{url_for('dashboard_delivered', order_id=product.id, deliv=0)}}">Make Undelivered</a></p>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}